<ScrollView>
    <StackLayout height="100%">
        <Label textAlignment="center" class="page-title" text="Meetings"></Label>
        <ListView height="100%" [items]="meetings">
            <ng-template let-meeting="item" let-i="index">
                <StackLayout orientation="horizontal">
                    <Label width="33%" [text]="meeting.student.fullName"></Label>
                    <Label width="33%" [text]="meeting.teacher.fullName"></Label>
                    <Label width="33%" [text]="meeting.date"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</ScrollView>