
<ScrollView height="100%" class="form">
    <StackLayout>
        <Label class="page-title" text="Create a Meeting" textAlignment="center"></Label>
        
        <Label visibility="{{ students != null && students != undefined && students.length > 0 ? 'visible' : 'collapsed' }}" class="input-title"
            text="Select Student" textAlignment="center"></Label>
       <ListPicker visibility="{{ students != null && students != undefined && students.length > 0 ? 'visible' : 'collapsed' }}"
       class="input list-picker" [items]="students" textfield="fullName" valuefield="id" (selectedIndexChange)="onSelectedStudentChanged($event)">
       </ListPicker>
    
        <Label visibility="{{ teachers != null && teachers != undefined && teachers.length > 0 ? 'visible' : 'collapsed' }}" class="input-title" text="Select Teacher" textAlignment="center"></Label>
        <ListPicker visibility="{{ teachers != null && teachers != undefined && teachers.length > 0 ? 'visible' : 'collapsed' }}" 
        class="input list-picker" [items]="teachers" textfield="fullName" valuefield="id" (selectedIndexChange)="onSelectedTeacherChanged($event)">
        </ListPicker>
 
        <Label visibility="{{ teachers != null && teachers != undefined && teachers.length > 0 ? 'visible' : 'collapsed' }}" class="input-title" text="Select Date" textAlignment="center"></Label>
        <DatePicker visibility="{{ teachers != null && teachers != undefined && teachers.length > 0 ? 'visible' : 'collapsed' }}"  class="date-picker" (loaded)="onDateLoaded($event)" (dateChange)="onDateChanged($event)" ></DatePicker>

        <Label visibility="{{ teachers != null && teachers != undefined && teachers.length > 0 ? 'visible' : 'collapsed' }}"  class="input-title" text="Enter Details" textAlignment="center"></Label>
        <TextField visibility="{{ teachers != null && teachers != undefined && teachers.length > 0 ? 'visible' : 'collapsed' }}" [(ngModel)]="this.meeting.details" hint="Enter Details"></TextField>

        <Button visibility="{{ teachers != null && teachers != undefined && teachers.length > 0 ? 'visible' : 'collapsed' }}"  class="btn btn-primary" text="Create" (tap)="createMeeting()"></Button>
    </StackLayout>
  </ScrollView>