
<StackLayout class="form">
    <StackLayout>
        <Label class="page-title" text="Add a Student" textAlignment="center"></Label>
    </StackLayout>
    
    <StackLayout class="input-field">
        <Label class="input-title" text="First Name" textAlignment="center"></Label>
        <TextField hint="Enter First Name" 
           [(ngModel)]="student.firstName" 
           secure="false"
           returnKeyType="next" 
           autocorrect="false">
        </TextField>
    </StackLayout>
  
    <StackLayout class="input-field">
        <Label class="input-title" text="Last Name" textAlignment="center"></Label>
        <TextField hint="Enter Last Name" 
           [(ngModel)]="student.lastName"
           secure="false"
           returnKeyType="next" 
           autocorrect="false">
        </TextField>
    </StackLayout>

    <StackLayout class="input-field">
        <Label class="input-title" text="Grade" textAlignment="center"></Label>
        <TextField hint="Enter Grade" 
           [(ngModel)]="student.grade"
           secure="false"
           keyboardType="number"
           returnKeyType="done" 
           autocorrect="false">
        </TextField>
    </StackLayout>

    <StackLayout>
        <Button class="btn btn-primary" text="Add Student" (tap)="addStudent()"></Button>
    </StackLayout>
  </StackLayout>