<StackLayout class="form">
    <StackLayout>
        <Label class="page-title" text="Add a Student" textAlignment="center"></Label>
    </StackLayout>
    
    <StackLayout class="input-field">
        <Label class="input-title" text="First Name" textAlignment="center"></Label>
        
    </StackLayout>
  
    <StackLayout class="input-field">
        <Label class="input-title" text="Last Name" textAlignment="center"></Label>
        
    </StackLayout>

    <StackLayout class="input-field">
        <Label class="input-title" text="Grade" textAlignment="center"></Label>
       
    </StackLayout>

    <StackLayout class="input-field">
        <Label class="input-title" text="Grade" textAlignment="center"></Label>
       
    </StackLayout>
  </StackLayout>